<div id="context-holder">
    <a href="/files" class="context">home</a>
    {{#if split}}
        {{#each split}}
            <span class="context-arrow">&gt;&gt;</span><a href="{{urlencode path}}" class="context">{{display}}</a>
        {{/each}}
    {{/if}}
</div>

<div class="holder">
    <dialog id="create-folder-dialog">
        <div class="dialog-div">
            <h2>Folder Name</h2>
            <form action="/createfolder" method="post" accept-charset="utf-8">
                <input type="text" name="call" required>
                <input type="hidden" name="context" value={{urlencode context}}>
                <input type="submit" value="create folder">
                <button id="close-create-folder-dialog-button">Cancel</button>
            </form>
        </div>
    </dialog>
    <dialog id="create-file-dialog">
        <div class="dialog-div">
            <h2>File Name</h2>
            <form action="/createfile" method="post" accept-charset="utf-8">
                <input type="text" name="call" required>
                <input type="hidden" name="context" value={{urlencode context}}>
                <select name="extension">
                    <option value="css">css</option>
                    <option value="json">json</option>
                    <option value="html">html</option>
                </select>
                <input type="submit" value="create file">
                <button id="close-create-file-dialog-button">Cancel</button>
            </form>
        </div>
    </dialog>
    <div class="left">
        <div id="dialog-button-holder">
            <button id="create-folder-dialog-button">Create folder</button>
            <button id="create-file-dialog-button">Create file</button>
        </div>
        <form enctype="multipart/form-data" action="/uploadfile" method="post" accept-charset="utf-8" id="upload-file">
            <input type="hidden" name="context" value={{urlencode context}}>
            <label for="upload">Choose file</label>
            <input type="file" id="upload" name="upload" multiple required>
            <label for="upload-submit">Upload</label>
            <input type="submit" id="upload-submit">
        </form>
    </div>

    <div class="right">
        <dialog id="rename-dialog">
            <div class="dialog-div">
                <form action="/rename" method="post">
                    <input type="hidden" name="previous" id="rename-previous-name">
                    <input type="hidden" name="context" id="rename-context">
                    <input type="text" name="new_name" id="rename-new-name">
                    <input type="submit" value="rename">
                    <button id="close-rename-dialog">Cancel</button>
                </form>
            </div>
        </dialog>
        <div id="folders">
            {{#each folders}}
                <div class="folder" id="{{urlencode name}}Folder">
                    <a href="/files{{urlencode ../context}}/{{urlencode name}}">
                        <span>[{{name}}]</span>
                    </a>
                    <div class="rename" onclick="rename('{{urlencode ../context}}', '{{urlencode name}}')">&#9997;</div>
                    <a class="download" href="/downloadfolder{{urlencode ../context}}/{{urlencode name}}">&#9735;</a>
                    <div class="delete" onclick="deleteFolder('{{urlencode name}}', '{{urlencode ../context}}')">&cross;</div>
                    </div>
            {{/each}}
        </div>
        <div id="files">
            {{#each files}}
                <div class="file" id="{{urlencode name}}File">
                    <span>[{{name}}]</span>
                    <div class="rename" onclick="rename('{{urlencode ../context}}', '{{urlencode name}}')">&#9997;</div>
                    <a class="download" href="/downloadfile{{urlencode ../context}}/{{urlencode name}}">&#9735;</a>
                    <div class="delete" onclick="deleteFile('{{urlencode ../context}}', '{{urlencode name}}')">&cross;</div>
                </div>
            {{/each}}
        </div>
    </div>
</div>

<script>
    const createFolderDialog = document.getElementById('create-folder-dialog');
    const createFolderDialogButton = document.getElementById('create-folder-dialog-button');
    const closeCreateFolderDialogButton = document.getElementById('close-create-folder-dialog-button');
    const createFileDialog = document.getElementById('create-file-dialog');
    const createFileDialogButton = document.getElementById('create-file-dialog-button');
    const closeCreateFileDialogButton = document.getElementById('close-create-file-dialog-button');
    const renameDialog = document.getElementById('rename-dialog');
    const closeRenameDialog = document.getElementById('close-rename-dialog');
    const renamePreviousName = document.getElementById('rename-previous-name');
    const renameContext = document.getElementById('rename-context');
    const renameNewName = document.getElementById('rename-new-name');

    createFolderDialogButton.addEventListener('click', () => {
        createFolderDialog.showModal();
    });

    closeCreateFolderDialogButton.addEventListener('click', () => {
        createFolderDialog.close()
    });

    createFileDialogButton.addEventListener('click', () => {
        createFileDialog.showModal();
    });

    closeCreateFileDialogButton.addEventListener('click', () => {
        createFileDialog.close();
    });

    closeRenameDialog.addEventListener('click', ()=> {
        renameDialog.close();
    })

    function rename(context, name){
        renameContext.value = context;
        renamePreviousName.value = name;
        renameNewName.value = name;
        renameDialog.showModal();
    }

    function deleteFolder(name, context) {
        fetch('/deletefolder', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                foldername: name,
                context: context
            })});
        document.getElementById('folders').removeChild(document.getElementById(`${name}Folder`))
    }

    // function downloadFile(name, context) {
    //     fetch('/downloadfile', {
    //         method: 'POST',
    //         headers: {'Content-Type': 'application/json'},
    //         body: JSON.stringify({
    //             name: name,
    //             context: context
    //         })
    //     })
    // }

    function deleteFile(context, name){
        fetch('/deletefile', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                filename: name,
                context: context
            })
        });
        document.getElementById('files').removeChild(document.getElementById(`${name}File`))
    }
</script>
