<div class="left">
    <form action="/createfolder" method="post" accept-charset="utf-8">
        <input type="text" name="call" required>
        <input type="hidden" name="context" value={{context}}>
        <input type="submit" value="create folder">
    </form>
    <form action="/createfile" method="post" accept-charset="utf-8">
        <input type="text" name="call" required>
        <input type="hidden" name="context" value={{context}}>
        <input type="submit" value="create file">
    </form>
    <form enctype="multipart/form-data" action="/uploadfile" method="post" accept-charset="utf-8" id="upload-file">
        <label for="upload">Choose file</label>
        <input type="file" name="upload" multiple required value="Select files">
        <label for="upload-submit">Upload</label>
        <input type="submit" name="upload-submit">
    </form>
</div>

<div class="right">
    <div id="context-holder">
        <span class="context">[<a href="/">home</i>]</span>
        {{#each context}}
        <span class="context-arrow">&gt;&gt;</span>
        <span class="context">[<a href="/">{{folder}}</a>]</span>
        {{/each}}
    </div>
    <h3>FOLDERS</h3>
    <div id="folders">
        {{#each folders}}
                <div class="folder" id="{{name}}Folder">
                    <a href="/files/{{../context}}/{{name}}"> 
                    <span>[{{name}}]</span>
                    </a>
                    <div class="delete" onclick="fetch('/deletefolder', {
                            method: 'POST',
                            headers: {'Content-Type': 'application/json'},
                            body: JSON.stringify({
                            'foldername': '{{name}}',
                            'context': '{{context}}'
                            })
                            }); document.getElementById('folders').removeChild(
                            document.getElementById('{{name}}Folder'))">&cross;</div>
                </div>
        {{/each}}
    </div>
    <h3>FILES</h3>
    <div id="files">
        {{#each files}}
            <div class="file" id="{{name}}File">
                <span>[{{name}}]</span>
                <div class="delete" onclick="fetch('/deletefile', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify({
                            'filename': '{{name}}',
                            'context': '{{context}}'
                        })
                        }); document.getElementById('files').removeChild(
                document.getElementById('{{name}}File'))">&cross;</div>
            </div>
        {{/each}}
    </div>
</div>

{{!-- TODO przerzuć fetche do <scripta> --}}